{% extends 'store/tobe/main.html' %} {% block content %}

<div class="py-4 bg-primary">
  <div class="container">
    <a class="text-white text-decoration-none" href="{% url 'home' %}">
      Home /
    </a>
    <a class="text-white text-decoration-none" href="{% url 'wishlist' %}">
      Wishlist /
    </a>
  </div>
</div>

{% comment %} {{wishlist}} {% endcomment %}
<div class="py-5">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="card shadow">
          <div class="card-body wishdata">
            {% if wishlist%} {% for item in wishlist %}
            <div class="row product_data">
              <div class="col-md-2 my-auto">
                <img
                  src="{{item.product.product_image.url}}"
                  height="76px"
                  width="77px"
                  alt="img"
                />
              </div>
              <div class="col-md-3 my-auto">
                <h6>MAD {{item.product.name}}</h6>
              </div>
              <div class="col-md-2 my-auto">
                <h6>MAD {{item.product.priceSell}}</h6>
              </div>
              <div class="col-md-3 my-auto">
                <!-- hidden input bach ndiro quantity update a group tlmo3wa9in waaaaaaaa333 🦁-->
                <input
                  type="hidden"
                  class="prod_id"
                  value="{{item.product_id}}"
                />
                {% csrf_token %}
                <a
                  href="{% url 'productview' item.product.subcategory.slug item.product.slug %}"
                  class="btn btn-primary"
                >
                <i class="fa fa-eye"></i>
                  View product</a
                >
              </div>
              <div class="col-md-2 my-auto">
                <button class="btn btn-danger delete-wishlist-item">
                  <i class="fa fa-trash"></i>   Remove
                </button>
              </div>
            </div>
            {% endfor %} {% else %}
            <h4>Your Wishlist is empty</h4>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock content %}
